<%- include('partials/header'); -%>
  <div class="container">
    <h1>Mi blog</h1>
    <p class="mb-5">Aquí encontraras todas mis entradas</p>

    <%for (let i=0; i < todasEntradas.length; i++) { %>
        <%let posActual = todasEntradas[i]; %>
    <h5><%=posActual.titulo%></h5>
    <h2><%=posActual.fecha%></h2>
    <p class="mb-5"><%=posActual.contenido%></p>
    <%} %>
  </div>
<%- include('partials/footer'); -%>
